{% extends 'base/base.html' %}
{% block content %}

<div class="top-header">
    <h1 class="left-text">Create a new grant</h1>
</div>
<!-- Return to grants available page -->
<a href="{{ url_for('granter_dashboard') }}">Return to Previous Page</a>
<hr>

<div class="row mb-2">
    <!-- Create form to add grant -->
    <div class="col-12">
        <form method="POST" action="" id="grantForm">

            {{ grantform.csrf_token }}
            {{ grantform.hidden_tag() }}
            <div class="container">
                <div class="row py-2">
                    <label for="grant_title" class="sr-only">Grant Title</label>
                    {{ grantform.grant_title(id="grant_title") }}
                </div>
                <div class="row py-2">
                    <label for="grant_description" class="sr-only">Grant Description</label>
                    {{ grantform.grant_description(id="grant_description") }}
                </div>
                
                <div class="row py-2">
                    <label for="grant_fund" class="sr-only">Grant Fund</label>
                    {{ grantform.grant_fund(id="grant_fund") }}
                    <!-- error message hidden -->
                    <span id="error-message" class="error-message">Please enter a value between -2,147,483,648 and 2,147,483,647.</span>
                </div>
                <div class="row py-2 center-element">
                    <button type="submit" class="btn btn-success btn-sm" id="submitBtn">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}
