{% extends 'base/base.html' %}
{%block content%}

<hr>
<div class="top-header">
    <h1 class="left-text">Your Dashboard</h1>
</div>
<h2 class="center-text">The Grant Factory</h2>
<div class="row left-text py-2">
    <div class="col-8 ">Create A New Grant</div>
    <div class="col-4">
        <a href="{{ url_for('create_new_grant') }}" class="btn btn-primary btn-sm">Open</a>
    </div>
</div>

<hr>

<h2 class="center-text">Grants Available</h2>
<!-- Loop of grants applied + status -->
<div class="container mt-6">
    <!-- Header Row -->
    <div class="row center-text border-bottom pb-2">

        <div class="col-6 font-weight-bold">Fund</div>
        <div class="col-6 font-weight-bold">Status</div>
    </div>

    <!-- For loop to generate rows -->
    {%for grant in grants%}
    <div class="container-fluid">
        <div class="row table-content center-text border-bottom py-2">
            <!-- Grant Title Row -->
            <div class="col-12 d-flex left-text">
                <h5>{{grant.grant_title}}</h5>
            </div>
            
            <!-- Grant Fund and Status Row -->
            <div class="row row-padding-bottom">
                <div class="col-6 d-flex justify-content-center">
                    {{ grant.grant_fund | currency }}
                </div>
                <div class="col-6 d-flex justify-content-center align-items-center">
                    {%if grant.is_active%}
                    <span class="status-colour-green">Active</span>
                    {%elif grant.is_closed%}
                    <span class="status-colour-gray">Closed</span>
                    {%else%}
                    <span class="status-colour-red">Not active</span>
                    {%endif%}                   
                </div>
            </div>
            
            <!-- Buttons Row -->
            <div class="row">
                <div class="col-6 d-flex justify-content-center">
                    <a href="{{ url_for('show_grant', grant_id=grant.id) }}" class="btn btn-warning btn-sm">See & Edit</a>
                </div>
                <div class="col-6 d-flex justify-content-center">
                    <a href="{{ url_for('show_all_grant_application', grant_id=grant.id) }}" class="btn bg-dark text-white btn-sm">Applications</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<hr>
{%endblock%}