{% extends 'base/base.html' %}
{%block content%}
<h1>This is show_grant.id page</h1>

<!-- List users -->

<!-- List Grants -->
<h2>Grant Name</h2>

<table style="margin-left: 20px;"> 

    <!-- Table headers -->
        <th> 
            <tr>     
                <td>Questions</td> 
                <td>Edit</td> 
                <td>Delete</td> 
            </tr> 
        </th> 
          
    <!-- For loop logic  -->
       {%for question in list_question%}
       
       
        <!-- table rows -->
        <tr> 
            <td>{{question.question}}</td> 
            <td>Edit button</td>   
            <td><a href="{{ url_for('delete_show_grant_question', grant_id=grant.id, grantquestion_id=question.id) }}">Delete</a></td>  
        </tr> 
        {%endfor%}

    </table> 





    <!-- Create form to add questions -->
    <h2>Add Question form button</h2>
    <form method="POST" action="">
        {{ addquestionform.csrf_token }}
        {{addquestionform.hidden_tag()}}
        {{addquestionform.question}}
        {{addquestionform.submit}}
    </form>

    

{%endblock%}