{% extends 'base/base.html' %}
{%block content%}
<h1>This is show_grant.id page</h1>

<!-- List users -->

<!-- List Grants -->
<h2>Grant Name</h2>

<table style="margin-left: 20px;"> 


    <!-- Table headers -->
        <th> 
            <tr>     
                <td>Questions</td> 
                <td>Edit</td> 
            </tr> 
        </th> 
          
    <!-- For loop logic  -->
       
        <!-- table rows -->
        <tr> 
            <td>Question1</td> 
            <td>Edit button</td>       
        </tr> 

    </table> 





    <!-- Create form to add questions -->
    <h2>Add Question form button</h2>
    <form method="POST" action="">

    </form>

    

{%endblock%}