{% extends 'base/base.html' %}
{%block content%}

<!-- Grant Title -->
<div class="top-header">
    <h1 class="left-text">{{grant.grant_title}}</h1>
</div>
<!-- Return to grants available page -->
<a href="{{ url_for('granter_dashboard') }}">Back to dashboard</a>

<hr>
<!-- Activate/Deactivate Grant -->
<div class="row mb-2 d-flex justify-content-center align-items-center">
    <div class="col-6">
        {% if list_question_empty %}
            <span class="accessible-red">To Activate: add questions.</span>
            {%else%}
            Click to switch status to:
        {%endif%}
    </div>
    
    <div class="col-6 d-flex justify-content-center align-items-center">
        {%if grant.is_active%}
        <a href="{{ url_for('close_grant', grant_id=grant.id)}}" class="btn btn-danger btn-sm large-screen-width">Close</a>
        {%else%}

            {% if list_question_empty %}
                <span class="status-colour-gray large-screen-width">Activate</span>
            {%else%}
                <a href="{{ url_for('activate_grant', grant_id=grant.id)}}" class="btn btn-success btn-sm large-screen-width">Activate</a>
            {%endif%}
        {%endif%}
    </div>
</div>

<hr>
<!-- Show grant details -->

<div class="row mb-2 center-text">
    <div class="col-6 font-weight-bold">
         Fund 
    </div>
    <div class="col-6 font-weight-bold">
        Status
    </div>
</div>
<div class="row mb-2 center-text">
    <div class="col-6">
        <!-- Fund Value -->
        <p>{{grant.grant_fund | currency}}</p>
    </div>
    
    <div class="col-6">
        <!-- Status Value -->
        {%if grant.is_active%}
        <span class="status-colour-green large-screen-width">Active</span>
        {%elif grant.is_closed%}
        <span class="status-colour-gray large-screen-width">Closed</span>
        {%else%}
        <span class="status-colour-red large-screen-width">Not active</span>
        {%endif%}
    </div>
</div>
<div class="row mb-2 center-text">
    <div class="col-12 font-weight-bold">
    <!-- Description -->
        Description
    </div>
    
</div>
<div class="row mb-2 center-text">
    <div class="col-12">
    <!-- Description Text-->
        <p>{{grant.grant_description}}</p>
    </div>
</div>
{% if list_question_empty %}
<div class="row mb-2 center-text">
    <div class="col-12">
    <!-- Delete Grant Button-->
    <a class="btn btn-danger btn-sm large-screen-width" href="{{ url_for('delete_grant', grant_id=grant.id) }}">Delete Grant</a>
    </div>
</div>
{%endif%}
<hr>

<!-- Create form to add questions -->
<h2>Add Question</h2>
<form method="POST" action="">
    {{ addquestionform.csrf_token }}
    {{addquestionform.hidden_tag()}}
    <div class="container">
        <div class="row py-2">
            <label for="question" class="sr-only">Question</label>
            {{addquestionform.question}}
        </div>
        <div class="row py-2">
            <button type="submit" class="btn btn-success btn-sm w-100">Submit</button>
        </div>
    </div>
</form>

<!-- List of questions -->

<hr>
<div class="row mb-2">
    <div class="col-12">
         <h2>List of Questions</h2>
    </div>
</div>
{%for question in list_question%}
<div class="row mb-2">
    <div class="col-12">
        <p>Question: {{question.question}}</p>
    </div>
</div>
<div class="row mb-2 center-text">
    <div class="col-6">
        <a class="btn btn-primary btn-sm large-screen-width" href="{{ url_for('edit_show_grant_question', grant_id=grant.id, grantquestion_id=question.id) }}">Edit</a>
    </div>
    {%if grant.is_active or grant.is_closed%}
    {%else%}
    <div class="col-6">
        <a class="btn btn-danger btn-sm large-screen-width" href="{{ url_for('delete_show_grant_question', grant_id=grant.id, grantquestion_id=question.id) }}">Delete</a>
    </div>
    {%endif%}
</div>
<hr>
{%endfor%}


    <hr> 
  <!-- Return to grants available page -->
<a href="{{ url_for('granter_dashboard') }}">Back to dashboard</a>

 

{%endblock%}