{% extends 'base/base.html' %}
{%block content%}
<h1>This is show_grant.id page</h1>

<!-- List users -->

<!-- List Grants -->
<h2>Grant Name</h2>


<h3>List of applications</h3>

<table style="margin-left: 20px;"> 

    <!-- Table headers -->
        <th> 
            <tr>     
                <td>Application ID</td> 
                <td>User</td> 
                <td>Status</td> 
                <td>See Application</td> 
            </tr> 
        </th> 
          
    <!-- For loop logic  -->
       {%for grantapplication in applications%}
        <!-- table rows -->
        <tr> 
            <td>{{grantapplication.id}}</td> 
            <td>{{grantapplication.user.username}}</td>   
            <td>
                {%if grantapplication.is_rejected %}
                <!-- if application is rejected is True:show rejected -->
                <p>Rejected</p>
                {%elif grantapplication.is_approved %}
                <!-- if application is approved is True:show approved -->
                <p>Approved</p>
                {%else%}
                <!-- else: show pending -->
                <p>Pending</p>
                {%endif%}
            </td>  
            <td><a href="{{ url_for('show_user_grant_application_id', grant_id=grant_id, grant_application_id=grantapplication.id) }}">Link to application</a></td>  
        </tr> 
        {%endfor%}

</table> 


{%endblock%}