<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}

    <!--Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!--CSS-->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!--Javascript-->
    <script src="{{ url_for('static', filename='js/script.js') }}" rel="stylesheet"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{url_for('dashboard')}}">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('grant_available')}}">Grants</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('manage_grant')}}">Manage Grants</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Account
              </a>
              <div class="dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown dropdown-item" href="{{url_for('account')}}">Account Details</a>
                <a class="dropdown dropdown-item" href="#">Delete Account</a>
                <a class="dropdown dropdown-item" href="{{url_for('contact_us')}}">Contact Us</a>
              </div>
            </li>

          </ul>
        </div>
    </nav>
 
   <!-- Navbar ends -->



  </head>
  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <div class="alert alert-success fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2024 by <a href="">you</a>.
      {% endblock %}
    </div>
    <!--Javascript for bootsrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
  </body>
</html>