/* General */
body {
    /* background-color: #2A9D8F; */
    background-color:#264653;
    
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 17px;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%; 
    margin: 0;
    padding: 0 10px;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}



h1{
    font-family: "Poppins", sans-serif;
    font-weight: 800;

}

h2{
    padding-top:15px;
}

a {
    color: white;
}

.top-header{
    margin: 12px;
    background-color: #264653;
    padding: 5px;
    border-radius: 5px;
    color: #E9C46A;
    width: fit-content
}

.center-text{
    text-align: center;
}

.left-text{
    text-align: left;
}

.grant-title-col{
    text-align: left;
    font-weight: bold
}

/* Navbar Styling*/

/* Custom Navbar Styling */
.custom-navbar {

    padding-left: 30px;
    padding-right: 30px;
}

/* Navbar Brand Styling */
.navbar-brand {
    color:#264653;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
}

.nav-link{
    color:white; 
}

.dropdown-menu {
    background-color: transparent;
    border: none;
    color:white;
}

.dropdown-item {
    color:white;
}

/* Table Styling */
table {
    margin: 20px; 
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #000;
    padding: 8px;
}

thead {
    background-color: #f2f2f2;
}

/* Bootstrap columns */
.container {
    max-width: 100%;
    overflow-x: auto;
}

.table-content{
    font-size: 12px;
}


/* Handle the table to prevent overflow */
.table-responsive {
    width: 100%;
}

/* Ensure buttons and content fit within columns */
.btn-sm {
    font-size: 0.875rem; 
    padding-bottom: 5px;
    width: 100%;
    border-radius: 10px;
}

/* Dashboard */

.username{
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-size: 30px;
    color:#F4A261;

}

/* Question */
.question{
    font-style: italic;
}



/* Media Query */
@media (max-width: 320px) {
    .row {
        display: flex;
        flex-wrap: nowrap;
    }
    .col-3 {
        flex: 1;
        min-width: 0;
    }
}