{% extends 'base/base.html' %}
{%block content%}
<h1>This is the admin panel</h1>

<!-- List users -->

<!-- List Grants -->

{{grants}}

    <!-- Create form to add grant -->
    <h2>Create Grant</h2>
    <form method="POST" action="">

        {{ grantform.csrf_token }}
        {{grantform.hidden_tag()}}
        {{grantform.grant_title.label}} {{grantform.grant_title}}
        {{grantform.grant_description.label}} {{grantform.grant_description}}
        {{grantform.grant_fund.label}} {{grantform.grant_fund}}
        {{grantform.submit}}
    </form>

    <!-- Create form to add questions -->

{%endblock%}