{% extends 'base/base.html' %}
{%block content%}

<hr>
<div class="top-header">
    <h1 class="left-text">Your Account</h1>
</div>

<div class="row left-text py-2">
    <div class="col-4 ">Username</div>
    <div class="col-8">
        Username
    </div>
</div>
<div class="row left-text py-2"></div>
    <div class="col-4 ">Emailaddress</div>
    <div class="col-8">
        Emailaddress
    </div>
</div>
<div class="row left-text py-2"></div>
    <div class="col-4 ">Delete Account</div>
    <div class="col-8">
        Delete button
    </div>
</div>

<hr>

{%endblock%}