{% extends 'base/base.html' %}
{%block content%}
<h1>This is the dashboard</h1>

<h2><a href="{{ url_for('grant_available') }}">Apply for Grant</a></h2>

<h2>Finish application</h2>
<!-- Loop of grants applied + status -->
<table style="margin-left: 20px;"> 
    <!-- Table headers -->
        <th> 
            <tr>     
                <td>Grant</td> 
                <td>Fund</td> 
                <td>Status</td>
                <td>Delete</td> 
            </tr> 
        </th> 
          
    <!-- For loop logic  -->

    <!-- Table rows -->
    <tr>
        <td>Grant Title</td>
        <td>Fund Applied For</td>
        <td>Submitted</td>
        <td>Delete button</td>        
    </tr>


</table> 

<h2>Grant Management</h2>

{%endblock%}