{% extends 'base/base.html' %}
{%block content%}
<h1>Your dashboard</h1>

<h2><a href="{{ url_for('grant_available') }}"></a></h2>
<div class="row center-text border-bottom border-dark py-2">
    <div class="col-8">Apply for Grant</div>
    <div class="col-4">
            <button type="submit" class="btn btn-primary btn-sm">Apply</button>
    </div>
</div>


<h2>Your Applications</h2>
<!-- Loop of grants applied + status -->
<div class="container mt-4">
    <!-- Header Row -->
    <div class="row center-text border-bottom border-dark pb-2">
        <div class="col-12 left-text font-weight-bold">Grant</div>
        <div class="col-4 font-weight-bold">Fund</div>
        <div class="col-4 font-weight-bold">Status</div>
        <div class="col-4 font-weight-bold">Actions</div>
    </div>

    <!-- For loop to generate rows -->
    {% for grantapplication in applications %}
    <div class="row center-text border-bottom border-dark py-2">
        <div class="grant-title-col col-12">{{ grantapplication.grant.grant_title }}</div>
        <div class="col-4">£ {{ grantapplication.grant.grant_fund }}</div>
        <div class="col-4">
            {% if grantapplication.is_approved %}
                <p>Approved</p>
            {% elif grantapplication.is_rejected %}
                <p>Rejected</p>
            {% elif grantapplication.is_submitted %}
                <p>Submitted</p>
            {% else %}
                <p>Not submitted</p>
            {% endif %}
        </div>
        <div class="col-4">
            <form action="{{ url_for('delete_application', grant_id=grantapplication.grant_id, grant_application_id=grantapplication.id) }}" method="POST" class="text-center">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
<h2>Grant Management</h2>

{%endblock%}