{% extends 'base/base.html' %}
{%block content%}


<div class="container mt-4">
    <!-- Header Row -->
    <div class="row center-text border-bottom pb-2">

        <div class="col-4 font-weight-bold">Fund</div>
        <div class="col-4 font-weight-bold">Status</div>
        <div class="col-4 font-weight-bold">Actions</div>
    </div>

    <!-- For loop to generate rows -->
    {% for grant in grants %}
    <div class="row table-content center-text border-bottom py-2">
        <div class="grant-title-col col-12 d-flex">{{ grant.grant_title }}</div>
        <div class="col-4 d-flex justify-content-center">{{ grant.grant_fund | currency }}</div>
        <div class="col-4 d-flex justify-content-center">
            {% if grant.id in existing_application_id and existing_application_id[grant.id].is_approved %}
                <td>Approved</td>
            <!-- If grant is rejected -->
            {% elif grant.id in existing_application_id and existing_application_id[grant.id].is_rejected %}
                <td>Rejected</td>
            <!-- If grant is submitted -->
            {% elif grant.id in existing_application_id and existing_application_id[grant.id].is_submitted %}
                <td>Submitted</td>
            <!-- If grant is not submitted -->
            {%else%}
                <td>Not submitted</td>
        {%endif%}
        </div>
        <div class="col-4 d-flex justify-content-center">
            <div class="container">
                <!-- <div class="row"> -->
            
                    <!-- If application exists -->
                    <!-- If application exists AND is submitted -->
                    {% if grant.id in existing_application_id and existing_application_id[grant.id].is_submitted %}
                    <div class="col-4 d-flex justify-content-center btn-sm">
                        <a href="{{ url_for('read_submitted_application', grant_id=grant.id, grant_application_id=existing_application_id[grant.id].id) }}" class="btn btn-primary btn-sm">Open</a>
                    </div>

                    <!-- <div class="col-4 d-flex justify-content-center btn-sm">
                        <form action="{{ url_for('delete_application', grant_id=grant.id, grant_application_id=existing_application_id[grant.id].id) }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div> -->

                    <!-- If application exists AND is NOT submitted -->
                    {% elif grant.id in existing_application_id and not existing_application_id[grant.id].is_submitted %}
                    <div class="col-4 d-flex justify-content-center btn-sm">
                        <a href="{{ url_for('apply_to_grant', grant_id=grant.id, grant_application_id=existing_application_id[grant.id].id) }}" class="btn btn-primary btn-sm">Open</a>
                    </div>
                    <!-- <div class="col-4 d-flex justify-content-center btn-sm">
                        <form action="{{ url_for('delete_application', grant_id=grant.id, grant_application_id=existing_application_id[grant.id].id) }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div> -->
                    <!-- If application does not exist -->
                    {%else%}
                    <div class="col-4 d-flex justify-content-center btn-sm">
                        <a href="{{ url_for('activate_application', grant_id=grant.id) }}" class="btn btn-primary btn-sm">Apply</a>
                    </div>
                    {%endif%}
                <!-- </div> -->
            </div> 
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}
