{% extends 'base/base.html' %}
{%block content%}

<hr>
<div class="top-header">
    <h1 class="left-text">Your Dashboard</h1>
</div>
<h2 class="center-text">Grants Available</h2>
<div class="row left-text py-2">
    <div class="col-8 ">Apply for Grant</div>
    <div class="col-4">
        <a href="{{ url_for('grant_available') }}" class="btn btn-primary btn-sm">Apply</a>
    </div>
</div>

<hr>

<h2 class="center-text">Your Applications</h2>
<!-- Loop of grants applied + status -->
<div class="container mt-4">
    <!-- Header Row -->
    <div class="row center-text border-bottom pb-2">

        <div class="col-4 font-weight-bold">Fund</div>
        <div class="col-4 font-weight-bold">Status</div>
        <div class="col-4 font-weight-bold">Actions</div>
    </div>

    <!-- For loop to generate rows -->
    {% for grantapplication in applications %}
    <div class="row table-content center-text border-bottom py-2">
        <div class="grant-title-col col-12 d-flex">{{ grantapplication.grant.grant_title }}</div>
        <div class="col-4 d-flex justify-content-center">{{ grantapplication.grant.grant_fund | currency }}</div>
        <div class="col-4 d-flex justify-content-center">
            {% if grantapplication.is_approved %}
            <span class="status-colour-green">Approved</span>
            {% elif grantapplication.is_rejected %}
            <span class="status-colour-black">Rejected</span>
            {% elif grantapplication.is_submitted %}
            <span class="status-colour-amber">Submitted</span>
            {% else %}
            <span class="status-colour-red">Not Submitted</span>
            {% endif %}
        </div>
        <div class="col-4 d-flex justify-content-center">
            {% if grantapplication.is_submitted %}
            <!-- If submitted -->
                <a href="{{ url_for('read_submitted_application', grant_id=grantapplication.grant_id, grant_application_id=grantapplication.id) }}" class="btn btn-primary btn-sm">Open</a>
            {%else%}
            <!-- If not submitted -->
                <a href="{{ url_for('apply_to_grant', grant_id=grantapplication.grant_id, grant_application_id=grantapplication.id) }}" class="btn btn-primary btn-sm">Open</a>
            {%endif%}    
        </div>
    </div>
    {% endfor %}
</div>



<h2>Grant Management</h2>

{%endblock%}