{% extends 'base/base.html' %}
{%block content%}

<div class="top-header">
    <h1 class="left-text">List of grants available</h1>
</div>

<a href="{{ url_for('dashboard') }}">Return</a>

<hr>


<div class="container mt-4">
    <!-- Header Row -->
    <div class="row center-text border-bottom pb-2">

        <div class="col-4 font-weight-bold">Fund</div>
        <div class="col-4 font-weight-bold">Status</div>
        <div class="col-4 font-weight-bold">Actions</div>
    </div>

    <!-- For loop to generate rows -->
    {% for grant in grants %}
    <div class="row table-content center-text border-bottom py-2">
        <div class="grant-title-col col-12 d-flex">{{ grant.grant_title }}</div>
        <div class="col-4 d-flex justify-content-center align-items-center">{{ grant.grant_fund | currency }}</div>
        <div class="col-4 d-flex justify-content-center">
            {% if grant.id in existing_application_id and existing_application_id[grant.id].is_approved %}
            <span class="status-colour-green">Approved</span>
            <!-- If grant is rejected -->
            {% elif grant.id in existing_application_id and existing_application_id[grant.id].is_rejected %}
            <span class="status-colour-black">Rejected</span>
            <!-- If grant is submitted -->
            {% elif grant.id in existing_application_id and existing_application_id[grant.id].is_submitted %}
            <span class="status-colour-amber">Submitted</span>
            <!-- If grant is not submitted -->
            {% elif grant.id in existing_application_id and not existing_application_id[grant.id].is_submitted %}
            <span class="status-colour-red">Not Submitted</span>
            {%else%}
            <span class="status-colour-gray">Not Started</span>
        {%endif%}
        </div>
        <div class="col-4 d-flex justify-content-center">          
            <!-- If application exists -->
            <!-- If application exists AND is submitted -->
            {% if grant.id in existing_application_id and existing_application_id[grant.id].is_submitted %}
            <div class="col-4 d-flex justify-content-center btn-sm large-screen-width">
                <a href="{{ url_for('read_submitted_application', grant_id=grant.id, grant_application_id=existing_application_id[grant.id].id) }}" class="btn btn-primary btn-sm">Open</a>
            </div>
            <!-- If application exists AND is NOT submitted -->
            {% elif grant.id in existing_application_id and not existing_application_id[grant.id].is_submitted %}
            <div class="col-4 d-flex justify-content-center btn-sm large-screen-width">
                <a href="{{ url_for('apply_to_grant', grant_id=grant.id, grant_application_id=existing_application_id[grant.id].id) }}" class="btn btn-primary btn-sm">Open</a>
            </div>
            <!-- If application does not exist -->
            {%else%}
            <div class="col-4 d-flex justify-content-center btn-sm large-screen-width">
                <a href="{{ url_for('activate_application', grant_id=grant.id) }}" class="btn btn-primary btn-sm">Apply</a>
            </div>
            {%endif%}
              
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}
