{% extends 'base/base.html' %}
{%block content%}
Grant Title: {{user_submitted_application.grant.grant_title}}<br/>
Grant ID: {{user_submitted_application.grant.id}}<br/>

{% for questionanswer in grant_question_user_answer %}

SOME TEXT
    <!-- Loop of question + answers provided -->
    <li>
        <strong>Question:</strong> {{ questionanswer.question }}<br/>
        {% for answer in questionanswer.answer %}
            <strong>Answer:</strong> {{ answer }}<br/>
        {% endfor %}
    </li>
{% endfor %}
<!-- Add  to return or delete(and return to previous page) -->

 <a href="">Return</a>

 <form action="{{ url_for('delete_application', grant_id=grant_id, grant_application_id=grant_application_id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn">Delete Application</button>
</form>


{%endblock%}

