{% extends 'base/base.html' %}
{%block content%}
<div class="top-header">
    <h1 class="left-text">{{user_submitted_application.grant.grant_title}}</h1>
</div>

<a href="{{ url_for('grant_available') }}">Return to Previous Page</a>

<hr>

{% for questionanswer in grant_question_user_answer %}
    <!-- Loop of question + answers provided -->
    <div>
        <strong>Q:</strong> <span class="question">{{ questionanswer.question }}</span><br/>
    </div>
</br>   
    <div>
        {% for answer in questionanswer.answer %}
            <strong>Y:</strong> {{ answer }}<br/>
        {% endfor %}
    </div>

    <hr>

{% endfor %}
<!-- Add  to return or delete(and return to previous page) -->

<form action="{{ url_for('delete_application', grant_id=grant_id, grant_application_id=grant_application_id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <button type="submit" class="btn btn-danger btn-sm">Delete Application</button>
</form>

<hr>

<a href="{{ url_for('grant_available') }}">Return to Previous Page</a>




{%endblock%}

