{% extends 'base/base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="center-text">Access our grants!
        <br>
        <br>
        Login

    </h1>
    <hr>
    
    <form method="POST" class="auth-form-container">
        {{ form.csrf_token(id = "unique_id") }}
        {{ form.hidden_tag() }}

        <div class="row mb-3">
            <div class="col">
                <label for="username" class="sr-only">Enter Username</label>
                {{ form.username(id="username",class="form-control") }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label for="password" class="sr-only">Enter Password</label>
                {{ form.password(id="password", class="form-control") }}
            </div>
        </div>

        <div class="row">
            <div class="col center-text">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>

    <hr>

    <div class="center-text">
      <p>Don't have an account? Click <a href="{{ url_for('register') }}" aria-label="Register for a new account">here</a></p>
    </div>

</div>

{% endblock %}
