{% extends 'base/base.html' %}
{% block content %}

<div class="container mt-5">
    <h1 class="center-text">Login Page</h1>
    
    <form method="POST" action="">
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}

        <div class="row mb-3">
            <div class="col">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
        </div>

        <div class="row">
            <div class="col center-text">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </div>
    </form>

    <hr>

    <div class="center-text">
      <p>Don't have an account? Click <a href="{{ url_for('register') }}">here</a></p>
    </div>

</div>

{% endblock %}
