<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funding Application Project</title>
</head>
<body>

    <h1></h1>
    <p>Login Page</p>
    <a href="{{url_for('register')}}">Link to Register Page</a>

    <form methods="POST" action="">
        {{ form.csrf_token }}
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.email_address}}
        {{form.password}}
        {{form.submit}}

    </form>
  {{users}}
    
</body>
</html>